.columns {
  display: grid;
  grid-template-columns: 1fr 300px; 
  gap: 40px;
  align-items: center;
  margin-bottom: 130px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.columns img {
  width: 100%;      /* This now means 100% of the 300px column */
  height: auto;
  display: block;
}

.columns p{
 	flex-direction: column;
  	align-items: flex-start; 
  	text-align: left;
}


.button-style{
	display: block;
	margin-top: 100px;
  	width: 200px;
  	height: 60px;
  	background-color:#011638;
  	text-align:center;
  	color:#bad5ff;
  	line-height: 60px;
  	font-size: 16px;
  	text-decoration: none;
  	font-family: "lust-didone-fine";
	font-weight: 200;
	font-style: italic;
  	transition: all 0.5s ease;
  }

.button-style:hover{
  	background-color: lavenderblush;
  	color: #4557a1;
  	transform:scale(1.3);
  }

.link a {
	display: flex;           /* Crucial: makes it a container */
 	align-items: center;     /* Centers logo vertically */
  	justify-content: center; /* Centers logo horizontally */
  	width: 50px;
  	height: 50px;
  	background-color: #eee;  /* Add a color to see the circle */
  	border-radius: 50%;
  	margin-left: 0;          /* Ensures no leftover margin */
  	transition: all 0.3s ease;
  	margin-top:50px;
  }

.link a img{
	width: 24px; /* Image smaller than the container */
 	height: auto;
}

h4{
	text-align:left;
	font-size:20px;
	color:#4557a1;;
}
